@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root {
  --color-primary-400: #fc5193;
  --color-primary-500: #ec4c8a;
  --color-primary-600: #dd4681;
  --color-primary-700: #df4782;
  --color-primary-800: #d04278;
  --color-primary-900: #b13967;
  --color-grey-800: #1d1d1d;
  --width-max: 800px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Gill Sans', sans-serif;
  color: white;
}

body {
  margin: 0;
  background-color: var(--color-primary-700);
}

[class^=material-] {
  font-size: 15px;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined', sans-serif;
}

.font-lato {
  font-family: 'Lato', sans-serif;
}

.font-14 {
  font-size: 14px;
  font-weight: 400;
}
